[project]
	description = OpenStack Generic Service
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Farhan Patwa (fpatwa)
[access "refs/for/refs/*"]
	read = group user/Farhan Patwa (fpatwa)
	push = group user/Farhan Patwa (fpatwa)
	label-Code-Review = -2..+2 group user/Farhan Patwa (fpatwa)
	label-Verified = -1..+1 group user/Farhan Patwa (fpatwa)
	rebase = group user/Farhan Patwa (fpatwa)
	removeReviewer = group user/Farhan Patwa (fpatwa)
	submit = group user/Farhan Patwa (fpatwa)
[access "refs/heads/*"]
	read = group user/Farhan Patwa (fpatwa)
	create = group user/Farhan Patwa (fpatwa)
	push = +force group user/Farhan Patwa (fpatwa)
	pushMerge = group user/Farhan Patwa (fpatwa)
[access "refs/tags/*"]
	push = +force group user/Farhan Patwa (fpatwa)
	pushTag = group user/Farhan Patwa (fpatwa)
	pushSignedTag = group user/Farhan Patwa (fpatwa)
